<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <style>
        form{
            display: flex;
            justify-content: center;
            border: 1px;
            margin: 15%;
            flex-direction: column;
        }
        input{
            display: flex;
            justify-content: center;
            margin: 5px;
            
        }
        button{
            
        }
    </style>
</head>
<body>
  <form>
    <label>Nom d'utilisateur</label>
    <input type="text" placeholder="Username">
        <label>Adresse E-mail</label>
         <input type="text" placeholder="E-mail">
            <label>Mot de passe</label>
             <input type="text" placeholder="Password">
                <label>Confirmer le Mot de Passe</label>
                 <input type="text" placeholder="Password">
                 <input type="submit" placeholder="Valider"
  </form>  
</body>
</html>